h1, h2 {
  text-align: center;
}

body {
  margin: 0.5%;
  background-color: rgba(30,30,30,255);
  color: white;
}

.menu {
  text-align: left;
}

a:link, a:visited {
  color: white;
}

a:hover, a:active {
  color: white;
  text-decoration: underline;
  font-weight: bold;
}

canvas {
  display: block;
  margin: auto;
  background-color: #000;
}

button {
  position: relative;
  height: 30px;
  display: block;
  margin: auto;
}

.circulo {
  height: 15px;
  width: 15px;
  background-color: blue;
  border-radius: 50%;
  display: inline-block;
}

#devs {
  display: flex;
  justify-content: space-around;
  margin: 2%;
}

.devs {
  border: 2px solid white;
  width: 30%;
  padding: 1%;
}

#prints {
  display: flex;
  justify-content: space-around;
  margin: 2%;
}

.centralizar {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}