*{
    box-sizing: border-box;
    margin: 0;
}

body{
    background-color: #e3e3e3;
}

.texto_nome{
    font-family: 'Poppins', sans-serif;
    font-size: 18px;
    font-weight: 400;
}

.texto_ra{
    font-family: 'Poppins', sans-serif;
    font-size: 14px;
    font-weight: 400;
}

.texto_curriculo{
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    font-weight: 400;
}

.prin_bg{
    display: flex;
    padding: 50px 0;
    justify-content: center;
    align-content: center;
    /*background-color: #3c3c3c;*/
}

.princ_perso{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    /* background-color: gray; */
}

.princ_perso_ind{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 5px;
    padding: 0 10px;
    /* background-color: #0297f2; */
}

.princ_perso_ind_flex{
    width: 260px;
}

.imagem_lobo{
    display: flex;
    flex-wrap: wrap;

    justify-content: center;
}

.teste{
    display: flex;
    flex-wrap: wrap;
    padding: 0 550px;
    justify-content: center;
}

#lobo{
    border: 5px solid black;
    border-radius: 150px;
    width: 150px;

}

.princ_perso_ind h2{
    text-align: center;
}

.wrapper {
    display: inline-flex;
    list-style: none;
    height: 120px;
    width: 100%;
    padding-top: 0;
    padding-right: 0;
    padding-left: 0;
    font-family: "Poppins", sans-serif;
    justify-content: center;
}

.wrapper .icon {
    position: relative;
    background: #fff;
    border-radius: 20%;
    margin: 10px;
    width: 50px;
    height: 50px;
    font-size: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.2);
    cursor: pointer;
    transition: all 0.2s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.wrapper .tooltip {
    position: absolute;
    top: 0;
    font-size: 14px;
    background: #fff;
    color: #fff;
    padding: 5px 8px;
    border-radius: 5px;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
    opacity: 0;
    pointer-events: none;
    transition: all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.wrapper .tooltip::before {
    position: absolute;
    content: "";
    height: 8px;
    width: 8px;
    background: #fff;
    bottom: 27px;
    left: 50%;
    transform: translate(-50%) rotate(45deg);
    transition: all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.facebook img{
    width: 30px;
}

.instagram img{
    width: 30px;
}


.wrapper .icon:hover .tooltip {
    top: 60px;
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
}

.wrapper .icon:hover span,
.wrapper .icon:hover .tooltip {
    text-shadow: 0px -1px 0px rgba(0, 0, 0, 0.1);
}

.wrapper .facebook:hover,
.wrapper .facebook:hover .tooltip,
.wrapper .facebook:hover .tooltip::before {
    background: #F84437;
    color: #fff;
}


.wrapper .instagram:hover,
.wrapper .instagram:hover .tooltip,
.wrapper .instagram:hover .tooltip::before {
    background: #E736B6;
    color: #fff;
}